<!DOCTYPE html>
<html>
<head>
    <title>Постройте заведение успешно</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/assets/main style.css">
</head>
<body>
    <div id="mainpage" class="page1">
        <p><img src="/static/images/8089.jpg"></p>
        <form>
            <button class="btn"><a href="Geocoder.html">Начать работу</a></button>
            <button class="btn"><a href="Comments.html">Перейти к комментариям</a></button>
        </form>
        <form class="input">
        <input type="text" id="name" placeholder="Введите ваш город">
        </form>
    </div>
</body>
</html>