<!DOCTYPE html>
<html>
<head>
    <title>Комментарии</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/assets/comments style.css">
</head>
<body>

    <div class="titleB">
        <h1>Отзывы пользователей</h1>
    </div>
    <form action="/comments" method="POST">
    <div id="comments" class="page3">
        <div class="results" id="results">
            {% for comment in comments %}
            <div class="podcontainer">
                <div>{{ comment[0] }}:</div>
                <div>{{ comment[1] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    </form>
    <form>
        <button class="btn"><a href="Mainpage.html">Вернуться на главную страницу</a></button>
        <button class="btn"><a href="comment_form.html">Оставить комментарий</a></button>
    </form>
    <script>
        fetch('/comments')
          .then(response => response.json())
          .then(data => {
            data.forEach(comment => {
              let commentElement = document.createElement('div')
              commentElement.classList.add('comment')
              let textElement = document.createElement('p')      
              textElement.classList.add('comment-text')   
              textElement.innerHTML = comment.text
              commentElement.appendChild(textElement) 
              document.body.appendChild(commentElement)
            })
          })
        </script>
</body>
</html>