<!DOCTYPE html>
<html>
<head>
    <title>Комментарии</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/assets/comments style.css">
</head>
<body>


    <div class="titleB">
    <h1>Отзывы пользователей</h1>
    </div>

<div id="comments" class="page3">
    <div class="results" id="results">
        <div class="podcontainer">
            <div id="competitors">
            </div>
        </div>
        <div class="podcontainer">
            <div id="organizations">
            </div>
        </div>
        <div class="podcontainer">
            <div id="market">
            </div>
        </div>

    </div>

    <div class="results2"s id="results2" class="page2">
        <div class="podcontainer2">
            <div id="competitors2">
            </div>
        </div>
        <div class="podcontainer2">
            <div id="organizations2">
            </div>
        </div>
        <div class="podcontainer2">
            <div id="market2">
            </div>
        </div>

    </div>

    <form>
        <button class="btn"><a href="Mainpage.html">Вернуться на главную страницу</a></button>
        <button class="btn"><a href="comments.html">Оставить комментарий</a></button>
    </form>
</div>
</body>
</html>
