

body {
    background: linear-gradient(to bottom,#4E36A7, #FFFFFF) no-repeat;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1 {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.btn a {
    text-decoration:none;
    color:white;
    }
    
.btn {
margin: 0 auto;
margin-right:20px;
margin-top:175px;
background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
width: 200px;
height:50px;
}
.btn:hover {
background-color: #4CAF50;
box-shadow: 15px 13px 20px 6px rgba(34, 60, 80, 0.2);
}
#name {
    margin: 0 auto;
    width: 5%;
    box-sizing: border-box;
}
 #comment {
    margin: 0 auto;
    width: 20%;
    box-sizing: border-box;
  }
  input[type="submit"] {
    width: 200px; /* Устанавливаем ширину кнопки */
    height: 50px; /* Устанавливаем высоту кнопки */
    font-size: 2.0em; /* Устанавливаем размер шрифта */
  }